/* Importing a font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("pics/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.card-list .card-item{
    color: white; /* for the text*/
    width: 400px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center; 
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1px solid rgba(255, 255, 255, 0.2);
}

.card-list .card-item .home-image{
    width: 420px;
    height: 360px;
    border-radius: 15%;
    margin-bottom: 40PX;
    border: 3px solid white;
    padding: 4px;
}

.card-list .card-item .home-name{
    font-size: 24px;
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-list .card-item .home-price{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    left: auto;
}

.card-list .card-item .home-description{
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
    align-self: center;
}

.card-list .card-item .home-button{
    background: purple;
    color: black;
    padding: 10px 35px;
    border-radius: 5px;
    cursor: crosshair;
    transition: background 0.3s ease;
}

.card-list .card-item .home-button:hover {
    background: #272727;
    border: 1px solid transparent;
    color: white;
}

.card-list .card-item .home-image {
    max-width: 600px;
    max-height: 350px;
}

.card-list.card-item.home-bathroom {
    background-color: #0000FF;
    color: black;
    margin-bottom: 10px;
    position: relative;
    left: 0;
}

.card-list .card-item .home-bedroom{
    color: black;
    margin-bottom: 10px;
    position: relative;
    left: 0;
    float: right;
}
